body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

.container{
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.link{
  text-decoration: none;
}

.visuali-hidden{
  
}

header{
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-navigation {}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-img {}

.header-menu-lits {}

.header-menu-item {}

.header-list-link {}

.header-menu-link {}

.header-soc-item {}

.header-soc-link {}

.main {
}

.hero {
  padding-bottom: 80px;
}

.hero-container{
    border-radius: 30px;
    background: rgba(17, 17, 17, 0.60);
    padding: 381px 40px 40px 40px;
}

.hero-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buy-btn {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-made-btn {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-scroll-btn {
  color: #fff;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}


.taste {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding-top: 120px;
}

.taste-title {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin: 0 auto 28px;
  max-width: 412px;
}

.taste-text {
  color: #111;
  
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin: 0 auto 28px;
  max-width: 486px
  ;
}

.taste-title span {
  color: #fd9222;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.taste-list {
}

.taste-item {
}

.taste-img {
}

.taste-subtitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.benefits{
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits-list {
  padding: 50px;
}

.benefits-item {
}

.benefits-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.benefits-text {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-title span {
  color: #fd9222;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.made-title {
  color: #111;

  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.made-img {
}

.made-subtitle {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
}

.made-list {
}

.made-item {
}

.made-item-text {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.products {
}

.products-title span {
  color: #fd9222;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.products-title {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.products-list {
}

.products-item {
}

.products-img {
}

.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.products-btn {
  color: #111;

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.products-subtitle {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.sellers {
}

.sellers-title span {
  color: #111;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.sellers-title {
  color: #fd9222;

  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.sellers-list {
}

.sellers-item {
}

.sellers-img {
}

.sellers-subtitle {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.loved-title {
  color: #fd9222;

  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.loved-list {
}

.loved-img {
}

.loved-subtitle {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
}

.loved-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-btn {
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.footer-head {
  color: #fd9222;

  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.footer-head span {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.02em;
}

.footer-subtitle {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.footer-list {
}

.footer-soc-item {
}

.footer-soc-link {
}

.address {
}

.address-list {
}

.address-item {
}

.address-phone {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.address-mail {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-navigation {
}

.footer-navigation-list {
}

.footer-navigation-item {
}

.footer-navigation-link {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.loved-title span {
  color: #111;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
